@import url(https://www.nerdfonts.com/assets/css/webfont.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4c5354;
  background-image: linear-gradient(to top right, #4c5354, #717679);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.links {
  color: #a2a2a2;
}

.links-container {
  list-style-type: none;
  position: absolute;
  line-height: 1.25em;
  font-size: 3.5rem;
  top: 10%;
  left: 5%;
}

.fa-universal-access {
  margin-top: 0.15em;
}

a:link,
a:visited {
  color: #a2a2a2;
  text-decoration: none;
}
a:hover {
  color: #ccc;
  text-decoration: none;
}
